%hr.my-5

.row.hidden-print

  .col-12.hidden-md-down.col-lg-3
    .logo-footer
      = link_to current_site.the_url, class: 'logo-header' do
        = image_tag current_site.the_logo, class: 'img-fluid'
  
  .col-12.col-md-4.col-lg-3.pt-0.pt-md-3
    .h6 Contact Us 
    = raw current_theme.the_field('footer_address')
    
  .col-12.col-md-4.col-lg-3.pt-0.pt-md-3.mt-3.mt-md-0
    .h6 Follow Us 
    %p Follow China Pictorial on social media to keep up-to-date with our latest articles!
    - %w(facebook twitter linkedin).each do |social|
      = link_to current_theme.the_field("social_#{social}"), class: 'pr-3' do
        %i.fa.fa-2x{class: "fa-#{social}"}
  
  .col-12.col-md-4.col-lg-3.pt-0.pt-md-3.mt-4.mt-md-0
    .h6 Newsletter
    %p.text-muted Subscribe to our newsletter.
    = form_tag(plugins_cama_subscriber_subscribe_url, class: 'form-inline', id: "subscriber_form") do
      = hidden_field_tag :group_id, 1
      .form-group.pr-1
        = text_field_tag :email, nil, class: 'form-control form-control-danger', placeholder: 'your email', id: :email, type: :email, required: true
      
      %button.btn.btn-outline-danger.text-uppercase.btn-subcription 
        %span.small Subscribe
        

    
%center.mt-5
  %strong 
    = Time.now.strftime("%Y")
    &copy;
    China Pictorial. All rights reserved
  %p Reproduction in whole or in part without permission is prohibited. 