%hr.my-2

.row.hidden-sm-down
  .col-12.text-center.text-md-left
    = link_to current_site.the_url, class: 'img-fluid logo-footer' do
      = image_tag current_site.the_logo

.row
  .col-md-12.col-lg-3
    %p= raw current_theme.the_field('footer_seo')
  
  .col-md-12.col-lg-2
    %strong Any suggestion ? 
    %p= raw current_theme.the_field('footer_address')
    
  .col-md-12.col-lg-3.text-center
    %strong Folllow us
    %p.mt-2.mb-2
      - %w(facebook twitter linkedin).each do |social|
        = link_to current_theme.the_field("social-#{social}") do
          %i.fa.fa-2x{class: "fa-#{social}"}
  
  .col-md-12.col-lg-4
    %strong Newsletter
    %p.text-muted News every week in your mailbox.
    = form_tag(plugins_cama_subscriber_subscribe_url, class: 'form-inline') do
      = hidden_field_tag :group_id, 1
      .form-group.pr-1
        = text_field_tag :email, nil, class: 'form-control', placeholder: 'votre email'
      
      %button.btn.btn-outline-danger.text-uppercase.btn-subcription{type: :submit} 
        %span.small Subscribe

    
%center.mt-5
  %strong 
    = Time.now.strftime("%Y")
    &copy;
    China Pictorial. All rights reserved
  %p Reproduction in whole or in part without permission is prohibited. 