%hr.my-5

.row
  
  .col-12.col-md-6
    %strong Any suggestion ? 
    %p= raw current_theme.the_field('footer_address')
  
  .col-12.col-md-6
    %strong Newsletter
    %p.text-muted News every week in your mailbox.
    = form_tag(plugins_cama_subscriber_subscribe_url, class: 'form-inline') do
      = hidden_field_tag :group_id, 1
      .form-group.pr-1
        = text_field_tag :email, nil, class: 'form-control', placeholder: 'votre email'
      
      %button.btn.btn-outline-danger.text-uppercase.btn-subcription{type: :submit} 
        %span.small Subscribe

    
%center.mt-5
  %strong 
    = Time.now.strftime("%Y")
    &copy;
    China Pictorial. All rights reserved
  %p Reproduction in whole or in part without permission is prohibited. 