%nav.navbar.navbar-light.navbar-fixed-top.pb-0
  .container
    .row
      .col-12.flex-space-between.flex-items-xs-bottom.mb-1
        = link_to current_site.the_url, class: 'logo-header' do
          = image_tag current_site.the_logo, class: 'img-fluid'
        .social-search-bar.hidden-xs-down.navbar-toggler-right
          .float-right
            = render partial: 'application/search_form'
          .float-right.hidden-sm-down.mr-2
            - %w(facebook twitter linkedin).each do |social|
              = link_to current_theme.the_field("social-#{social}"), class: 'pr-3' do
                %i.fa.fa-2x{class: "fa-#{social}"}
        - { xs: 'hidden-sm-up' }.each do |size, css|
          = raw draw_menu({menu_slug: "menu_#{size.to_s}", container_id: "navbar-#{size.to_s}", container_class: "nav navbar-nav flex-space-between #{css}", item_current: 'nav-item active', item_class: 'nav-item', link_class: 'nav-link'})
            
        
        
    .row
      .col-12.mt-0.mt-sm-3
        - { sm: 'hidden-md-up hidden-xs-down', md: 'hidden-lg-up hidden-sm-down', lg: 'hidden-xl-up hidden-md-down', xl: 'hidden-lg-down' }.each do |size, css|
          = raw draw_menu({menu_slug: "menu_#{size.to_s}", container_id: "navbar-#{size.to_s}", container_class: "nav navbar-nav flex-space-between #{css}", item_current: 'nav-item active h6 strong', item_class: 'nav-item h6 strong', link_class: 'nav-link'})
  
        = raw current_site.draw_languages("language list-inline pull-right", true)

    .row
      .col-12
        %hr.my-0
        
        = render partial: "/camaleon_cms/flash_messages.html.erb", locals:{ flash: (flash[:cama_subscriber] || {}).with_indifferent_access }