
%section{id: :search}

  = form_tag(cpsearch_path, method: :post, class: "form-search form-horizontal search-form") do
  
    %label{for: 'search-input'}
      %i.fa.fa-search{aria: {hidden: true}}
      %span.sr-only= t("camaleon_cms.common.search")
    
    = text_field_tag :q, params[:q], id: 'search-input', class: 'form-control form-control-sm', placeholder:"#{t("camaleon_cms.common.search")}...", autocomplete: "off", spellcheck: "false", autocorrect: "off", tabindex:"1"
  
    = link_to '/', class: "fa fa-times-circle #{params[:q].nil? ? 'invisible' : ''}", aria: {hidden: true}, id: 'search-clear' do
      %span.sr-only Clear search

