<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META SECTION -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title><%= current_site.the_title %></title>
    <%= stylesheet_link_tag theme_asset_path("css/main") %>
    <%= javascript_include_tag theme_asset_path("js/main") %>
    <%= raw the_head %> 
    
  </head>
  
  <body ng-app="bahnhof" ng-controller="BahnhofCtrl" bh-scroll-top="100" ng-class="{'navbar-minified':minifyNavbar}">
    <%= render partial: 'partials/header.html' %>
    <%= yield %>
    <%= render partial: 'partials/footer.html' %>
  </body>
  
</html>