!!!
%html{:lang => "en"}
  %head
    %title= current_site.the_title
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag theme_asset_path("css/application"), media: 'screen, print'
    = javascript_include_tag theme_asset_path("js/application")
    = raw the_head
    = render theme_view('application/woopra') if $woopra_domain_name.present?
    
  %body
    = render theme_view('application/header')
    .container
      .content
        = yield
      
    = render theme_view('application/footer')
    %h1= render theme_view('application/adaptative')


    