%ul.list-unstyled.offcanvas.mt-2
  - %w(facebook twitter linkedin).each do |social|
    %li
      %button.btn.socialshare.share{type: :button, class: "s_#{social}"}
        %i.fa{class: "fa-#{social}"}
  
  %li.hidden-xs-down
    %button.btn.share.s_weixin{type: :button, data: {toggle: :modal, target: '#qrcode'}}
      %i.fa.fa-weixin
  
  %li
    %button.btn.btn-secondary.share.change-size-plus{type: :button}
      %i.fa.fa-plus
      
  %li
    %button.btn.btn-secondary.share.change-size-minus{type: :button}
      %i.fa.fa-minus
      
  %li
    %button.btn.btn-secondary.share.print{type: :button}
      %i.fa.fa-print
    
.modal.fade{id: 'qrcode', tabindex: '-1', role: 'dialog', aria: {labelledby: 'qrCodeModal', hidden: true}} 
  .modal-dialog{role: :document}
    .modal-content
      .modal-header
        %h5.modal-title Scan me with WeChat
        %button.close{type: :button, data: {dismiss: :modal}, aria: {label: :close}}
          %span{aria: {hidden: true}} &times;
      .modal-body.text-center
        .qrcode
          - qrcode = begin RQRCode::QRCode.new(post.the_url, :size => 12, :level => :h) rescue nil end
          = raw qrcode.as_html if qrcode
    
      
  / %li
  /   %button.btn.btn-secondary.share{type: :button}
  /     %i.fa.fa-envelope-o
          
:javascript
  $(function() {
    $('.change-size-plus').click(function() {
      var matches = $('.post-body').css('font-size').match(/([0-9.]+)([a-z%]+)/);
      if (matches) {
        $('.post-body').css('font-size', Number(matches[1]) + 0.5 + matches[2]);
      }
    });
    
    $('.change-size-minus').click(function() {
      var matches = $('.post-body').css('font-size').match(/([0-9.]+)([a-z%]+)/);
      if (matches) {
        $('.post-body').css('font-size', Number(matches[1]) - 0.5 + matches[2]);
      }
    });
    
    $('.print').click(function(){
      window.print();
    });
     
    
    $('.socialshare').ShareLink({
      title: "#{j post.title}",
      text: "#{j post.the_excerpt}",
      image: "#{post.the_thumb_url}",
      url: "#{post.the_url}"
    })});
