= post.decorate.the_thumb(class: 'img-fluid')

.title.pt-1
  .text-muted.pt-3.text-uppercase.small.float-right
    = l(post.decorate.published_at, format: "%d.%m.%Y")
    &mdash;
    = post.get_meta('visits', 0)
    views
  %h4.pt-1
    = link_to  post.decorate.the_title, post.decorate.the_path
    %span.small
      by 
      = post.decorate.the_field(:author)


%hr
%strong= post.decorate.the_excerpt.truncate(250)
  