= render partial: 'partials/featured', locals: {post: post}

.title.pt-1
  .text-muted.pt-3.text-uppercase.small.float-right
    = l(post.decorate.published_at, format: "%d.%m.%Y")
    &mdash;
    = post.get_meta('visits', 0)
    views
  %h4.pt-1
    = link_to  post.decorate.the_title, post.decorate.the_path


%hr
.excerpt.mb-3= post.decorate.the_excerpt.truncate(250)
  