.col-12.col-sm-6.mt-3.mt-sm-0
  = render partial: 'partials/featured', locals: {post: post}
  %h5.mt-3= link_to post.decorate.the_title, post.decorate.the_path
  %hr
  .excerpt= post.decorate.the_excerpt.truncate(180)
  .text-muted.mb-3.text-uppercase.text-right.small
    = l(post.decorate.published_at, format: "%d.%m.%Y")
    &mdash;
    = post.get_meta('visits', 0)
    views