%h3.mb-2= link_to post.the_title, post.the_path

%p.font-italic
  %span{class: "text-#{color}"}
    = t :by, scope: :cid
  %span.text-dark-grey.px-1
    = post.get_field(:author).try(:translate) || post.the_author.fullname
  %span.text-dark-grey
    = l post.published_at.to_date, format: :long

%p= post.the_excerpt

- if thumbnail

  = render partial: 'partials/featured', locals: {post: post, thumbcss: 'img-fluid mb-5', videocss: 'embed-responsive-4by3 mb-5'}
