- post = post.decorate

.row.mb-2
  .col-10.offset-1
    = link_to post.the_path do
      = post.the_thumb(class: 'img-fluid')
    %h4.mt-1= link_to post.the_title, post.the_path
    %p.font-italic
      %span
        = t :by, scope: :cid
      %span.px-1
        = post.get_field(:author).try(:translate) || post.the_author.fullname
      %span
        = l post.published_at.to_date, format: :long
    
.row
  .col-12
    
    %p.excerpt.text-justify= post.the_excerpt

.row
  .col-12
    %hr.pb-3