%article.post{itemscope: true, itemtype: 'https://schema.org/Article'}

  %meta{itemprop: :url, content: @post.the_url}
  %meta{itemprop: :mainEntityOfPage, itemscope: true, itemtype: 'https://schema.org/WebPage', itemid: @post.the_url}
  %meta{itemprop: :headline, content: @post.the_title}
  %meta{itemprop: :dateModified, content: @post.object.updated_at}
  
  %div{itemprop: :publisher, itemscope: true, itemtype: 'https://schema.org/Organization'}
    %div{itemprop: :logo, itemscope: true, itemtype: 'https://schema.org/ImageObject'}
      %meta{itemprop: :url, content: current_site.the_logo}
      %meta{itemprop: :width, content: 100}
      %meta{itemprop: :height, content: 100}
    %meta{itemprop: :name, content: 'China Pictorial'}

  .row.mt-2
    .col-12.text-center
      
      %h1.mt-2.text-danger= @post.the_title
      
      .text-muted.text-uppercase.mb-3{itemscope:true, itemprop: :author, itemtype:'https://schema.org/Person'}
        - unless (author = @post.the_field(:author)).blank?
          - author_by_value = @post.the_field(:author_by).to_i
          - author_by = @post.post_type.get_field_groups.where(slug: 'options').first.get_field(:author_by).options[:multiple_options].select{|o| o[:value].to_i.eql?(author_by_value)}.first
          = author_by.nil? ? 'Text by' : author_by[:title]
          %strong{itemprop: :name}= author
          %meta{itemprop: :homeLocation, content: 'Beijing'}
      
        - unless (author = @post.the_field(:author_2)).blank?
          - author_by_value = @post.the_field(:author_by_2).to_i
          - author_by = @post.post_type.get_field_groups.where(slug: 'options').first.get_field(:author_by_2).options[:multiple_options].select{|o| o[:value].to_i.eql?(author_by_value)}.first
          %span.pl-2= author_by.nil? ? 'Text by' : author_by[:title]
          %strong= author
        
        .published_at
          - published_at = @post.object.published_at || Time.now
          %time{datetime:  published_at.try(:iso8601), itemprop: :datePublished}= I18n.l published_at.to_date, format: :long

        
  .row
    .col-12{itemprop: :image, itemscope: true, itemtype:'https://schema.org/ImageObject'}
      - if @post.get_meta('featured_video').blank?
        = @post.the_thumb(class: 'img-fluid w-100')
      - else
        .featured_video.embed-responsive.embed-responsive-4by3
          = video_tag @post.get_meta('featured_video')
      %meta{itemprop: :url, content: @post.the_thumb_url}
      %meta{itemprop: :width, content: 100}
      %meta{itemprop: :height, content: 100}
      .post-fimage-caption= @post.the_field(:fimage_caption)

  .row.mt-4
    .col-12.col-lg-8.mt-0.mt-lg-4
      = render partial: 'partials/social', locals: {post: @post}
      .post-body{itemprop: :articleBody}
        = raw @post.the_content
    
    .col-12.col-lg-4.hidden-print
      %h2.text-danger.mb-1.mt-3
        %strong Related articles
      = render partial: theme_view("blocks/thumbnails"), locals: {posts: @post.the_related_posts.where('cama_posts.id != ?', @post.id).to_a.sample(3)} 


:javascript
  $(function() {
    $("figure.image > img[width]").parent().find('figcaption').each(function(){
      var width = $(this).parent().find('img[width]').attr('width');
      $(this).attr('style', 'width:' + width + 'px');
    });
    $('.post-body iframe[id^="vzvd"]').parent().addClass('embed-responsive embed-responsive-4by3');
    });