<p><%= @extra_data[:message] %></p>
<p>I thought you'd like this:</p>
<p><a href="<%= @extra_data[:post_path] %>">Read More</a></p>
<img src="<%= @extra_data[:featured_image_path] %>" width="200px" />
<p><b><%= @extra_data[:title] %></b></p>
<p><%= @extra_data[:summary] %></p>