.row
  - post = posts.shift
  - if post.present?
    .col-12.col-md-8.col-lg-6
      .pos-a-b.ml-3.mr-3.mb-3.hidden-xs-down
        %h5.text-danger.text-uppercase 
        %h2= link_to post.decorate.the_title, post.decorate.the_path, class: 'text-white text-shadow strong'
      = render partial: 'partials/featured', locals: {post: post}
  
    .col-12.mt-3.hidden-sm-up
      = render partial: 'partials/excerpt', locals: {post: post}

  .col-12.col-md-4.col-lg-6.mt-2.mt-sm-0.flex-space-between-column-ie-fix
    
    - posts.each do |post|
    
      .row.mb-3.mb-md-0.mb-3-ie-fix
        .col-12.col-sm-6.col-md-12.col-lg-6
          .pos-a-b.pl-1.pr-3.mb-1.hidden-sm-down.hidden-lg-up
            .text-danger.text-uppercase 
            %strong= link_to post.decorate.the_title.truncate(30), post.decorate.the_path, class: 'text-white'
          = render partial: 'partials/featured', locals: {post: post}
        .col-12.col-sm-6.hidden-md.mt-3.mt-sm-0
          %h5= link_to post.decorate.the_title.truncate(40), post.decorate.the_path
          .excerpt.hidden-xs-down= post.decorate.the_excerpt.truncate(150) # extra truncation
          %span.excerpt.hidden-sm-up= post.decorate.the_excerpt.truncate(120)
          .text-muted.mt-1.mb-0.text-uppercase.small
            = l(post.decorate.published_at, format: "%d.%m.%Y")
            &mdash;
            = post.get_meta('visits', 0)
            views
     
      

