- post = posts.shift
.row
  .col-12
    .pos-a-b.ml-3.mb-3.pr-3.hidden-xs-down
      %h5.text-danger.text-uppercase 
      %h2= link_to post.decorate.the_title, post.decorate.the_path, class: 'text-white text-shadow strong'
    = post.decorate.the_thumb(class: 'img-fluid')
  .col-12.mt-3.hidden-sm-up
    = render partial: 'partials/excerpt', locals: {post: post}
    

- posts.each do |post|
  .row.mt-3
    .col-12.col-sm-6.col-md-4
      = post.decorate.the_thumb(class: 'img-fluid')
    .col-12.col-sm-6.col-md-8.mt-3.mt-sm-0
      = render partial: 'partials/excerpt', locals: {post: post}