
.row.mt-3
  .col-4
    = post.decorate.the_thumb(class: 'img-fluid')
  .col-8
    %h5= link_to post.decorate.the_title, post.decorate.the_path
    %strong.excerpt.hidden-xs-down.hidden-md-up= post.decorate.the_excerpt.truncate(100)
    %strong.excerpt.hidden-sm-down= post.decorate.the_excerpt.truncate(250)
    .text-muted.mt-0.mb-3.text-uppercase.small
      = l(post.decorate.published_at, format: "%d.%m.%Y")
      &mdash;
      = post.get_meta('visits', 0)
      views