
.hidden-md-down      
  %ul.list-group.d-block
    - posts.each do |post|
      %li.list-group-item.pt-0.pl-0.pr-0.border-0.d-block
        = link_to post.decorate.the_thumb(class: 'img-fluid mb-1'), post.decorate.the_path
        %h5.mb-1.title= link_to post.decorate.the_title, post.decorate.the_path
        %small.text-muted.mt-0.text-uppercase
          = l(post.decorate.published_at, format: "%d.%m.%Y")
          &mdash;
          = post.get_meta('visits', 0)
          views
        

.hidden-lg-up
  -#= render partial: theme_view("blocks/post"), collection: posts
  = render partial: theme_view("blocks/portrait"), locals:{posts: posts.slice(0,current_theme.get_option('cat4_count_md_down'))}