<nav class="navbar navbar-default navbar-fixed-top">
  
  <div class="container-fluid">
    <div class="row cid-md-header visible-md-block visible-lg-block">
      <div class='col-md-4'>
        <center>
          <div class="header-social">
          <a href="#"><%= theme_image_tag 'icons/flat/facebook.png', width: "35", height: "35", alt: "Check out our facebook page" %></a>
          <a href="#"><%= theme_image_tag 'icons/flat/twitter.png', width: "35", height: "35", alt: "Follow us on twitter" %></a>
          <a href="#"><%= theme_image_tag 'icons/flat/linkedin.png', width: "35", height: "35", alt: "Follow us on LinkedIn" %></a>
        </div>
        </center>
      </div>
      <div class='col-md-4'>
        <center><a ui-sref="home"><%= theme_image_tag 'logo.png', width: "275", height: "150", alt: current_site.the_title %></a></center>
      </div>
      
      <div class='col-md-4'>
            <form id="header_search_form" ng-controller="NavBarSearchCtrl as vm" ng-show="vm.isNotSearchPage()" class="form-inline">
              <div class="form-group">
                <input class="form-control col-md-3" ng-model="vm.keywords" name="anim" class="my-input" aria-describedby="Enter Keywords" placeholder="Enter your search keywords" />
              </div>
              <button type="submit" class="btn btn-default" ng-click="vm.search()">Search</button>
            </form>
      </div>
      
    </div>
  </div>

  <div class="container">
    <div class="cid-sm-header">
      <a class="navbar-brand" ui-sref="home"><%= theme_image_tag 'logo-mini.png', width: "136", height: "50", alt: current_site.the_title %></a>
    </div>
    <div>
      <%= nav_menu(menu_slug:'main_menu', container_class: 'nav navbar-default nav-justified bh-main-menu') %>
    </div>
  </div> 
  
</nav>

        




