<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>China India Dialogue</title>
    <%= stylesheet_link_tag    'bahnhof', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bahnhof', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" type="image/png" href="<%= asset_path('cid/favicon.png') %>"/>    
    
  </head>
  
  <%= yield %>
  
</html>